
.container{
    display: flex;    
    flex-direction: row;
    align-items: center;
    
}



.logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    
}

div nav{
    margin-left: 20px;
}

div nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px ;
    
}



nav a:hover{
    color: #fff;
   
}